<div class="details">

<h2><%= @contact.first_name %></h2>
<h2><%= @contact.last_name %></h2>
<p><%= @contact.phone_number %></p>
<p><%= @contact.email %></p>
<p><%= @contact.company_name %></p>
<p><%= @contact.birth_date %></p>
<p><%= @contact.address %></p>

<%if @contact.image.attached?%>
   <p><%= image_tag(@contact.image,:class=> "img-circular") %></p>
<%else%>
   <img class= "img-circular" src ="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
<%end%>
  <%= link_to "Edit", edit_contact_path(@contact) %>
  <%= link_to "Delete", contact_path(@contact),
  method: :delete, data: {confirm: "Are you sure?" } %>
  <li><%= link_to "Home",root_path(@contact) %></li>

</div>